rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // articlesコレクションは誰でも読み取りOKにする
    match /articles/{articleId} {
      allow read: if true;
      allow write: if false; // 書き込みは引き続きNG！
    }
  }
}